# Python
__pycache__/
*.py[cod]
*$py.class
*.log
*.sqlite3
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuration Files
config/
notes/

# Visual Studio Code
.vscode/* 
.history

# Node
node_modules/
package-lock.json
package.json
tailwind.config.js
postcss.config.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*